body {
    background-color: #eff7ff;
    margin: auto;
  }

main {
  
  margin: 0%;
  
}
  
h1 {
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    font-family: verdana;
    
  }

h2, h3 {
  color: #000000;
  font-family: verdana;
  font-weight: bolder;
  letter-spacing: 2px;
}
  
h4, h5, p {
    font-family: verdana;
    font-weight: lighter;
    color: #1b1b1b;
  }

.table {
  border: 0%;
  width: 100%;
  margin: 0;  

}
/* Button Styles as Class*/
.button {
  background-color: #a7ff22#a7ff22;
  height: 80px;
  border-width: 25px;
  border-radius: 25%;
  padding: 8px 18px;
  cursor: pointer;
  border-radius: 25px;
  margin: 2px;
}

/* END of button styles */
.nav-bar{
    margin: 4px;
    text-align: center;
    float: right;
    padding: 12px;
}

.footer {
  margin: 4px;
  color: #aaff8e;
  text-align: center;
  

}


.hero {
  background-position: center;
  background-image: linear-gradient(#00000080, #eefbff),url("../assets/img/zebra.png");
  
  padding-bottom: 80px;
}

.hero-image {
  background-image: linear-gradient(#4343431b, #0000006f), url("../assets/img/10.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  padding: 18% 0% 18%;
  font-size: 32px;
  letter-spacing: 20px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-size: cover;
}

.hero-text {
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #121212;
}

.logo {
  margin: 8px;
  color: #a7ff22;
  align-content: center;
  width: 50px;
  height: 50px;
  padding: 5px;
}

.cover {
  background-image: url(../assets/img/zebra.png);
  width: 100px;
  height: 100px;
  /* src: url("/assets/img/BGcover.jpg"); */
}

.menu {
  margin: 8px;
  padding: 5px;
  text-align: center;
  font-weight: bold;
}

/* Link Styles */
/* unvisited link */
a {
  position: relative;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Underline infor */
.link{
  margin: 8px;
}

.link::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #a7ff22;
  transform-origin: bottom right;
  transition: transform 0.4s ease-out;
}

.link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* mouse over link */


/* selected link */
a:active {
  color: #ff6d2f;
  text-decoration: none;
  
}

li {
  /* display: block; */
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: left;
}

ul {
  list-style-type: none;
  /* margin: 0;
  padding: 0; */
  
}

li a:hover {
  margin: 2px;
  text-decoration: none;
/* decorate hover */
  cursor: pointer;
  border-radius: 25px;
  text-justify: auto;
  background: #c0ff43e6;
  padding: 8px 18px;
  
}

tr {
  margin: 0%;
  align-items: center;
  table-layout: auto;
  width: 50%;
}


.active {
  border-radius: 25px;
  background: #a7ff22;
  padding: 8px 20px; 
  
  /* width: 200px;
  height: 80px;   */
  
}

.logo-text {
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 50px;
  margin-bottom: 2px;
  color: rgb(153, 255, 0);
  letter-spacing:12px;
}
/* END of Link Styles */

.image-caption {
  background-color: #ffffff;
  padding: 50px;
  width: 50%;
  
}

.image-caption_low {
  padding-top: 28%;
  width: 50%;
  background-position: center;
  background-repeat: no-repeat;

}

.image-block {
  margin: 0%;
  padding: 0%;
  
}

.image-box {
  width: 100%;
}

.heading-caption{
  font-size: larger;

}

.text-wrap {
  padding: 18%;
  width: 60%;
}

.text-wrap_low {
  padding: 45% 0% 0% 19%;
  width: 60%;
  letter-spacing: 1.5px;
  word-spacing: 3px;
}

.user-image {
  width: 20%;
  background-color: #a7ff22;
  border-radius: 25%;
}

.testimonial {
  color: #ffffff;
  padding: 4%;
  width: 33%;
  flex: auto;
}

.gallery-pics { 
  width: 100%;
  padding-top:0px;
}

.socio-icon {
  height: 30px;
  width: 30px;
  padding: 15px;
}

.pagedown {
  height: 100px;
  width:100px;
  transform: translate(700%, 100%);
}

.socio-icon :hover {
  color: #a7ff22 !important;
}